{% extends 'blogs/base.html.twig' %}

{% block title 'Home' %}

{% block content %}
<div class="row">
    {% for col in posts|batch(3) %}
        <div class="col-md-6">
            {% for post in col %}
                {% include "posts/partials/_post.html.twig" %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}