{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <header>
        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </header>
    <main role="main">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form method="post">
                        <h1 class="font-weight-normal text-center mb-5">Sign in</h1>
                        {# <input type="email" value="{{ last_username }}" name="email" class="form-control mb-3" placeholder="Email" required autofocus> #}
                        <input type="text" value="{{ last_username }}" name="login" class="form-control mb-3" placeholder="Username or email" required autofocus>
                        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
                
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                
                        <button class="btn btn-lg btn-block btn-success btn-cm" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
