<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'Welcome!' %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "layouts/partials/_nav.html.twig" %}
        </header>

		<main role="main" class="container pt-4"> 
			{% block body %}{% endblock %}
		</main>
    </body>
</html>
