{% extends 'layouts/base.html.twig' %}

{% block body %}
    <header>
        {% include "layouts/partials/_nav.html.twig" %}
    </header>
    <main role="main">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %} 
        <div class="container pt-4">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
