<article class="card-cm mb-4">
    <header class="card-cm-header">
        <div class="card-cm-meta">
            <p class="mb-2">{{ post.createdAt|ago }} in <a href="#">[CATEGORIES]</a></p>
        </div>
        <a href="#">
            <h4 class="card-cm-title">{{ post.title }}</h4>
        </a>
    </header>
    <a class="border" href="#">
        <img class="card-cm-img" src="" alt="">
    </a>
    <div class="card-cm-body">
        <p class="card-cm-text">
            {{ post.content }}
        </p>
    </div>
</article>