{% extends 'blogs/base.html.twig' %}

{% block title category.name %}

{% block content %}
    <div class="text-center">
        <span class="text-muted">Category:</span>
        <h2>{{ category.name }}</h2>
        <hr>
    </div>
    <div class="row">
        {% for col in posts|batch(3) %}
            <div class="col-md-6">
                {% for post in col %}
                    {% include "posts/partials/_post.html.twig" %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}